################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/viewclient/bin/Debug/net8.0-windows
/viewclient/obj/Debug/net8.0-windows/ref
/viewclient/obj
/viewclient/Pulse.csproj.user
/.vs
/viewclient/.vs
/viewclient/viewclient_clang
/viewclient/x64/Debug/viewclient_clang.dll
/viewclient/x64/Debug/viewclient_clang.lib
/viewclient/x64/Debug/viewclient_clang.pdb
/AtropaAndroid/bin/Debug/net8.0-android
/AtropaAndroid/obj
/AtropaAndroid
/Dysnomia/bin/Debug/net8.0-windows
/Dysnomia/obj
/Apparition/obj/Debug/net8.0-windows
/Apparition/obj
/Apparition/bin/Debug/net8.0-windows10.0.18362.0
/viewclient/bin/Debug/net8.0-windows10.0.18362.0
/Dysnomia/bin/Debug/net8.0
/.deps
/.states
/artifacts
/solidity/artifacts
/solidity/dysnomia/artifacts
/solidity/dysnomia/domain/old/artifacts
/solidity/dysnomia/domain/sky/artifacts
/solidity/dysnomia/include/artifacts
/solidity/dysnomia/interfaces/artifacts
/solidity/dysnomia/lib/artifacts
/solidity/old/artifacts
